@{
    ViewData["Title"] = "Home Page";
}

        <header id="home" class="backstretched fullheight max-600">
            <div class="dark-overlay fullheight max-600">
                <div class="container fullheight max-600">
                    <div class="jumbotron">
                        <h1>
                            <small>We offer the</small><br>
                            Best Education
                        </h1>
                        <p>
                            <a class="btn btn-white btn-lg page-scroll" href="#about-us" role="button">Why?</a>
                            <a class="btn btn-lg btn-primary btn-green page-scroll" href="#our-team" role="button">Browse Courses</a>
                        </p>
                    </div>
                </div>
            </div>
        </header>

        <section id="about-us">
            <div class="section-inner">
                <div class="container">
                    <div class="row mb60 text-center">
                        <div class="col-sm-12">
                            <h3 class="section-title">About Us</h3>
                            <p class="section-sub-title">Who we are and what we offer:</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <p class="lead">The Super Awesome School of Awesomeness</p>
                            <p class="mb40">Our staff are some of the most hard-working individuals that enjoy teaching all of the super awesome courses we have to offer! Enroll soon before it is too late! You will not regret learning super awesome information and we hope you stay excellent at the Super Awesome School of Awesomeness!</p>
                            <a class="btn btn-lg btn-primary btn-green" href="@Url.Action("Index", "Enrollments")" role="button">Enroll Students</a>
                        </div>
                        <div class="col-md-8 col-md-offset-1">
                            <div class="row">
                                <div class="col-sm-6 wow fadeIn mb40">
                                    <div class="icon-box-1 match-height mb30">
                                        <i class="fa-4x pe-7s-paint-bucket"></i>
                                        <div class="content-area">
                                            <h3 class="title">Wet Paint Watching</h3>
                                            <div class="content">This course is amazing for testing your patience as you watch wet paint dry! It has been enjoyed by so many previous students and you can enjoy teaching it too! Teachers get a bonus for teaching this course!</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 wow fadeIn mb40">
                                    <div class="icon-box-1 match-height mb30">
                                        <i class="fa-4x pe-7s-usb"></i>
                                        <div class="content-area">
                                            <h3 class="title">Coding 50</h3>
                                            <div class="content">This course teaches students the basics of coding without writing any code. Teachers are expected to teach what code does as this is an intro to see if students want to learn to become developers!</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 wow fadeIn">
                                    <div class="icon-box-1 match-height mb30">
                                        <i class="fa-4x pe-7s-rocket"></i>
                                        <div class="content-area">
                                            <h3 class="title">Rocket League Mobile</h3>
                                            <div class="content">Instructors are expected to be at least top 100 in the game as you will be coaching prospects looking to become the best in the world. Lots of hard work and dedication to being the best in the game is required!</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 wow fadeIn">
                                    <div class="icon-box-1 match-height mb30">
                                        <i class="fa-4x pe-7s-trash"></i>
                                        <div class="content-area">
                                            <h3 class="title">Diablo Immortal 101</h3>
                                            <div class="content">This course teaches the best combos in the game and we expect staff to understand what combos work well to give our students more victories!</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="band-member-1" class="hover-shift smoothie match-height" data-mh="page-splitter">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-8 col-xs-12 dark-overlay fill-right smoothie match-height" data-mh="page-splitter">
                        <div class="section-inner">
                            <div class="row">
                                <div class="col-md-offset-1 col-md-10">
                                    <h3>Why choose The Super Awesome School of Awesomeness?</h3>
                                    <h5 class="section-sub-title mb40">Let us explain.</h5>
                                    <p class="mb40">We treat our staff how you deserve to be treated. We only hire awesome people, so you are going to be guarenteed to have awesome coworkers and administrators each and every day at work! Check out the courses that you may be interested in teaching with the button below.</p>
                                    <a href="#" class="btn btn-primary btn-green btn-lg">Browse Courses</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section id="band-member-2" class="hover-shift smoothie match-height" data-mh="page-splitter">
            <div class="container match-height" data-mh="page-splitter">
                <div class="row">
                    <div class="col-md-4 dark-overlay fill-left smoothie">
                        <div class="section-inner">
                            <div class="row">
                                <div class="col-md-offset-1 col-md-10">
                                    <h3>We Are Awesome!</h3>
                                    <h5 class="section-sub-title mb40">A message from our team:</h5>
                                    <p>We love and appreciate all of our staff! We want to thank each and every one of our staff for making this school so awesome! Without all of you, our school would not be where we are at today!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>